@font-face {
  font-family: Epilogue;
  src: url(../../Epilogue/Epilogue-VariableFont_wght.ttf);
}
@font-face {
  font-family: Epilogue-italic;
  src: url(../../Epilogue/Epilogue-Italic-VariableFont_wght.ttf);
}
.Landing {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Epilogue;
}
.make-remote-work {
  width: 30%;
}




/* Animations */
.make-remote-work,
.makeremote-image {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .make-remote-work {
    animation-name: slideInFromLeft;
  }
  
  .makeremote-image {
    animation-name: slideInFromRight;
  }
  /* Animations */



  
.make-remote-work p {
  line-height: 30px;
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
}

.learn-more-button {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  width: 170px;
  height: 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-top: 8%;
}
.learn-more-button:hover {
  background-color: white;
  color: black;
  border: 2px solid hsl(0, 0%, 8%);
}
.remote-work-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}
.hero-mobile-view {
  display: none;
}
.hero-desktop-view {
  width: 450px;
}
@media only screen and (max-width: 480px) {
  .Landing {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .make-remote-work {
    width: 100%;
    text-align: center;
  }
  .hero-desktop-view {
    display: none;
  }
  .hero-mobile-view {
    display: block;
    width: 100%;
  }
  .remote-work-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .remote-work-icons svg {
    width: 25%;
  }
}
@media only screen and (max-width: 768px) {
  .Landing {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .make-remote-work {
    width: 100%;
    text-align: center;
  }
  .hero-desktop-view {
    display: none;
  }
  .hero-mobile-view {
    display: block;
    width: 100%;
  }
  .remote-work-icons {
    width: 100%;
  }
  .remote-work-icons svg {
    width: 25%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Landing {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .make-remote-work {
    width: 100%;
    text-align: center;
  }
  .hero-desktop-view {
    display: none;
  }
  .hero-mobile-view {
    display: block;
    width: 100%;
  }
  .remote-work-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .remote-work-icons svg {
    width: 25%;
  }
}
