@font-face {
  font-family: Epilogue;
  src: url(../../Epilogue/Epilogue-VariableFont_wght.ttf);
}
@font-face {
  font-family: Epilogue-italic;
  src: url(../../Epilogue/Epilogue-Italic-VariableFont_wght.ttf);
}
.Navbar {
  margin: auto;
  width: 94%;
  font-family: Epilogue;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.snap ul {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}

.login ul {
  width: 250px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: hsl(0, 0%, 41%);
}
/* this nav menu is important for the dropdown when fixing it sometime later, remember the time the nigga did that stuff on yt? */
.nav-menu {
  height: 50px;
  width: 170px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu:hover {

  cursor: pointer;

}

.snap {
  display: flex;
}
.hover-stuff {
  color: hsl(0, 0%, 41%);
  /* transition: 0.1s all ease-in-out; */
}
.hover-stuff:hover {
  color: hsl(0, 0%, 8%);
}
.register {
  border: 2px solid hsl(0, 0%, 41%);
  /* transition: 0.1s all ease-in-out; */
}
.register:hover {
  border: 2px solid hsl(0, 0%, 8%);
  /* color: hsl(0, 0%, 8%); */
}
.hamburger {
  display: none;
  width: 40px;
}
@media only screen and (max-width: 480px) {
  .Navbar {
    display: block;
    width: 90%;
  }
  /* this is important for the hamburger, kindly note */
  .aligning {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* this is important for the hamburger, kindly note, same as the snap class too */
  .snap ul.login ul {
    display: none;
  }
  .snap {
    display: flex;
    flex-direction: column;
  }

  .snap ul.is-open {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .hamburger {
    display: block;
    text-align: center;
  }
  .hamburger svg {
    /* width: 25px; */
  }
}
@media only screen and (max-width: 768px) {
  .snap ul {
    display: none;
  }
  .login ul {
    display: none;
  }
  .snap ul.is-open {
    /* display: block; */
    /* already done in the mobile view 480px */
  }
  .login ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger svg {
    width: 25px;
  }
}
