@font-face {
  font-family: Epilogue;
  src: url(../../Epilogue/Epilogue-VariableFont_wght.ttf);
}
@font-face {
  font-family: Epilogue-italic;
  src: url(../../Epilogue/Epilogue-Italic-VariableFont_wght.ttf);
}
.Navbar {
  margin: auto;
  width: 94%;
  font-family: Epilogue;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.snap ul {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
 
}

.login ul {
  width: 250px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: hsl(0, 0%, 41%);
}

.nav-menu {
  height: 50px;
  width: 170px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snap {
  display: flex;
}
.hover-stuff {
  color: hsl(0, 0%, 41%);
}
.hover-stuff:hover {
  color: hsl(0, 0%, 8%);
}
.register {
  border: 2px solid hsl(0, 0%, 41%);
}
.register:hover {
  border: 2px solid hsl(0, 0%, 8%);
}
.hamburger {
  display: none;
  width: 40px;
}
@media only screen and (max-width: 480px) {
  .snap ul {
    display: none;
  }
  .login ul {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .hamburger svg {
    width: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .snap ul {
    display: none;
  }
  .login ul {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .hamburger svg {
    width: 25px;
  }
}
